@font-face {
  font-family: 'Exo2';
  src: url(/fonts/Exo_2.ttf);
}
@font-face {
  font-family: 'helveticaneuecyr-bold';
  src: url(/fonts/helveticaneuecyr-bold.otf);
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(/fonts/HelveticaNeueCyr.otf);
}
@font-face {
  font-family: 'MyriadProRegular';
  src: url(/fonts/MyriadProRegular.otf);
}
@font-face {
  font-family: 'Parangon530C';
  src: url(/fonts/Parangon530C.otf);
}
/*========================================================================*/

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*========================================================================*/
.container {
  width: 1250px;
  margin: 0 auto;
  z-index: 100;
}
/*========================================================================*/
/*Window*/

/*========================================================================*/
.window {
  display: flex;
  text-align: center;
  padding: 204px 207px 125px 215px;
  background: url(/img/1window/IMG_3644.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}
.window::before {
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #747696;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
}
.window__title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Parangon530C';
  font-size: 48px;
  margin-bottom: 40px;
}
.window__text {
  line-height: 1.2;
  font-family: 'PT Sans Caption';
  font-size: 28px;
}
.window__cards {
  display: flex;
  justify-content: space-between;
}
.window__card {
  height: 165px;
  width: 252px;
  border: 2px solid #fff;
}

.card__icon {
  height: 37px;
  width: 37px;
  fill: #fff;
}
.card__title {
  font-size: 48px;
  font-family: 'Parangon530C';
}
.card__text {
  font-family: 'PT Sans Caption';
  font-size: 18px;
}
