@import url('styles1024px.css');
@import url('styles768px.css');

@font-face {
  font-family: 'Exo2';
  src: url(../fonts/Exo_2.ttf);
}
@font-face {
  font-family: 'UniSansCaps';
  src: url(../fonts/unisanscaps.otf);
}
@font-face {
  font-family: 'futura-bold-bt';
  src: url(../fonts/futura-bold-bt.ttf);
}
@font-face {
  font-family: 'helveticaneuecyr-bold';
  src: url(../fonts/helveticaneuecyr-bold.otf);
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../fonts/HelveticaNeueCyr.otf);
}
@font-face {
  font-family: 'MyriadProRegular';
  src: url(../fonts/MyriadProRegular.otf);
}
@font-face {
  font-family: 'Parangon530C';
  src: url(../fonts/Parangon530C.otf);
}
@font-face {
  font-family: 'Tahoma';
  src: url(../fonts/Tahoma.ttf);
}
/*========================================================================*/

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
  color: #000;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*========================================================================*/
.container {
  max-width: 1250px;
  margin: 0 auto;
  z-index: 2;
}

/*========================================================================*/
/*Window*/

/*========================================================================*/
.window {
  display: flex;
  text-align: center;
  /* padding: 204px 207px 125px 215px; */
  background: url(../img/1window/IMG_3644.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}
.window::before {
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
  position: absolute;
  z-index: 1;
}
.window__title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Parangon530C';
  font-size: 43px;
  margin-top: 204px;
  margin-bottom: 40px;
}
.window__text {
  line-height: 1.2;
  font-family: 'PT Sans Caption';
  font-size: 28px;
  margin-bottom: 50px;
}
.window__cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 125px;
}
.window__card {
  height: 165px;
  width: 252px;
  border: 2px solid #fff;
}

.card__icon {
  height: 37px;
  width: 37px;
  fill: #fff;
}
.card__title {
  font-size: 48px;
  font-family: 'Parangon530C';
}
.card__text {
  font-family: 'PT Sans Caption';
  font-size: 18px;
}
/*======================================================================*/
/*Navbar*/
/*======================================================================*/

.navbar {
  height: 110px;
  border-bottom: 2px solid #adadad;
}
.navbar__inner {
  display: flex;
  justify-content: flex-end;
  color: #000;
  font-family: 'Futura-Normal', arial;
  font-size: 29px;
}
.navbar__item {
  margin: 41px 42px 38px 0;
  cursor: pointer;
}
.navbar__item:last-child {
  margin-right: 0;
}
.navbar__item > a:hover {
  color: #f6ae48;
  transition: 0.3s;
}
/*======================================================================*/
/*Study*/
/*======================================================================*/
.study {
  margin-top: 128px;
}
.study__inner {
  display: flex;
  justify-content: space-between;
  color: #000;
  margin-bottom: 150px;
}
.study__title {
  display: inline-block;
  margin: 90px 140px 0 0;
  font-family: 'helveticaneuecyr-bold';
  font-size: 48px;
}
.study__item {
  background-image: url(../img/2studiy/WE.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.study__text {
  margin: 50px 80px 65px;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}
.study__cards {
  display: flex;
  justify-content: space-between;
  color: #000;
  margin-bottom: 250px;
}
.study__card {
  padding: 20px;
}
.study--card__icon {
  left: -8px;
  height: 60px;
  width: 40px;
  fill: #00b9e7;
  position: relative;
}
.study__card:last-child .study--card__icon {
  left: 0;
}

.study--card__title {
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  margin-bottom: 15px;
}
.study--card__text {
  font-size: 16px;
  font-family: arial;
  font-weight: 400;
  margin-bottom: 25px;
}
input[type='checkbox'] {
  display: none;
}
.study--card__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  margin-bottom: 2px;
}
.button__price {
  padding: 10px;
  border: 2px #fff solid;
  color: #fff;
  font-size: 18px;
  background-color: transparent;
  font-family: 'MyriadProRegular';
  cursor: pointer;
}
.button__arrow {
  margin-right: 20px;
  height: 40px;
  width: 40px;
  fill: #fff;
}
.study__card:hover {
  background-color: #f6ae48;
  color: #fff;
  transition: 0.6s;
}
.study__card:hover .study--card__icon {
  fill: #fff;
}

/*======================================================================*/
/*Credo*/
/*======================================================================*/
.credo {
  text-align: center;
  background: url(../img/3dev/IMG_3654.jpg) no-repeat;
  background-size: cover;
  padding: 127px 0 160px;
  color: #fff;
  position: relative;
  margin-bottom: 85px;
}
.credo::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  position: absolute;
  z-index: 1;
}
.credo__title {
  font-family: 'Exo2';
  text-transform: uppercase;
  margin-bottom: 62px;
  letter-spacing: 5px;
  font-size: 50px;
  position: relative;
  z-index: 1;
}
.credo__text {
  font-family: 'HelveticaNeueCyr';
  font-size: 24px;
  line-height: 40px;
  position: relative;
  z-index: 1;
}
/*======================================================================*/
/*Developers*/
/*======================================================================*/
.dev {
  position: relative;
  color: #fff;
}
.dev--bgc__title {
  width: 670px;
  height: 530px;
  background: url(../img/3dev/settings48.jpg) no-repeat;
  background-size: cover;
  top: -135px;
  position: absolute;
  z-index: 1;
}
.dev--title {
  font-family: 'Parangon530C';
  font-size: 50px;
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}
.dev--cards {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 1;
  margin-bottom: 130px;
}
.dev__card {
  width: 369px;
  height: 319px;
  background: url(../img/3dev/landing.jpg) no-repeat;
  background-size: cover;
  font-family: 'futura-bold-bt';
  font-size: 50px;
  text-transform: uppercase;
  line-height: 0.8;
  padding: 76px 0 0 36px;
  margin-left: 60px;
  position: relative;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
  cursor: pointer;
}
.dev__card:nth-child(2) {
  background: url(../img/3dev/web-sait.jpg);
}
.dev__card:nth-child(3) {
  background: url(../img/3dev/zakaz.jpg);
}
.dev__card::before {
  content: '';
  top: 0;
  left: 0;
  width: 369px;
  height: 319px;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  z-index: 2;
}
.dev--card__hover {
  opacity: 0;
  visibility: hidden;
  transition: 0.55s opacity, 0.55s visibility;
  left: -36px;
  bottom: -6px;
  width: 369px;
  height: 28px;
  background-color: #00b9e7;
  position: absolute;
  z-index: 2;
}
.dev__card:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.6s;
}
.dev__card:hover .dev--card__hover {
  opacity: 1;
  visibility: visible;
}
.dev__card:hover .dev--card__title {
  transition: 0.55s;
  color: #00b9e7;
  border-bottom: 2px solid #00b9e7;
}
.dev__card:hover .dev--button__price {
  border: 2px solid #00b9e7;
  transition: 0.55s;
}
.dev__card:hover .dev--button__arrow {
  fill: #00b9e7;
  transition: 0.55s;
}
.dev__card:nth-child(2) .dev--card__title {
  padding-bottom: 65px;
}
.dev__card:nth-child(2):hover .dev--card__hover {
  opacity: 1;
  visibility: visible;
  background-color: #ffcb00;
}
.dev__card:nth-child(2):hover .dev--card__title {
  color: #ffcb00;
  border-bottom: 2px solid #ffcb00;
}
.dev__card:nth-child(2):hover .dev--button__price {
  border: 2px solid #ffcb00;
}
.dev__card:nth-child(2):hover .dev--button__arrow {
  fill: #ffcb00;
}
.dev__card:nth-child(3):hover .dev--card__hover {
  opacity: 1;
  visibility: visible;
  background-color: #66bf0d;
}
.dev__card:nth-child(3):hover .dev--card__title {
  color: #66bf0d;
  border-bottom: 2px solid #66bf0d;
}
.dev__card:nth-child(3):hover .dev--button__price {
  border: 2px solid #66bf0d;
}
.dev__card:nth-child(3):hover .dev--button__arrow {
  fill: #66bf0d;
}
.dev--card__title {
  width: 290px;
  padding-bottom: 20px;
  border-bottom: 2px solid #fff;
  position: relative;
  z-index: 2;
}
.dev--card__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-family: 'MyriadProRegular';
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.dev--button__price {
  background-color: transparent;
  padding: 14px 24px;
  width: 203px;
  border: 2px solid #fff;
  color: #fff;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.dev--button__arrow {
  width: 32px;
  fill: #fff;
  margin-left: 52px;
  margin-right: 46px;
  position: relative;
  z-index: 2;
}

/*======================================================================*/
/*Be the first*/
/*======================================================================*/
.bethefirst__inner {
  display: flex;
  justify-content: space-between;
}
.bethefirst--bgc__title {
  width: 627px;
  height: 64px;
  background: url(../img/4one_searche/BE_THE_FIRST.png) no-repeat;
  background-size: cover;
  margin-bottom: 32px;
}
.bethefirst__title {
  padding: 12px 0 0 58px;
  letter-spacing: 3.5px;
  font-family: 'Parangon530C';
  font-size: 36px;
  text-transform: uppercase;
}
.bethefirst__text {
  font-family: Arial;
  font-size: 24px;
  width: 596px;
  padding-left: 58px;
  line-height: 2;
}
.bethefirst__partners {
  margin-right: 156px;
}
.partners__google {
  width: 205px;
  height: 214px;
  background: url(../img/4one_searche/GooglePartnerLogosquare.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 42px;
}
.partners__yandex {
  width: 211px;
  height: 224px;
  background: url(../img/4one_searche/fon.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 110px;
}
/*======================================================================*/
/*Our Projects*/
/*======================================================================*/
.ourprojects {
  margin-bottom: 162px;
}
.ourprojects__titlebgc {
  height: 144px;
  color: #fff;
  text-transform: uppercase;
  background-color: #303263;
}
.ourprojects__title--item {
  display: block;
  text-align: center;
  opacity: 0.3;
  font-size: 96px;
  letter-spacing: 3px;
  font-family: 'Tahoma';
  position: relative;
}
.ourprojects__title {
  display: inline-block;
  color: #fff;
  left: 400px;
  bottom: 90px;
  font-size: 36px;
  letter-spacing: 2px;
  font-family: 'Parangon530C';
  position: relative;
  z-index: 3;
}

.ourprojects__site {
  height: 754px;
  cursor: pointer;
}
.ourprojects__biginner {
  display: flex;
  height: 426px;
  width: 100%;
}
.ourprojects__item {
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
  position: relative;
}
.hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(247, 187, 101, 0.9);
  font-family: 'Exo2';
  color: #fff;
  position: absolute;

  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
}
.hover__title {
  text-transform: uppercase;
  font-size: 3.6em;
}
.hover__about {
  font-size: 1.5em;
}
.hover:hover {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: 0.6s;
}
.ourprojects__item:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.6s;
}
.img1 {
  background: url(../img/5project/1.jpg) no-repeat;
  background-size: cover;
  width: 791.5px;
}
.img2 {
  background: url(../img/5project/2.jpg) no-repeat;
  background-size: cover;
  width: 791.5px;
}

.ourprojects__smallinner {
  display: flex;
}
.img3 {
  background: url(../img/5project/3.jpg) no-repeat;
  background-size: cover;
  width: 395px;
  height: 324px;
}
.img4 {
  background: url(../img/5project/4.jpg) no-repeat;
  background-size: cover;
  width: 395px;
}
.img5 {
  background: url(../img/5project/5.jpg) no-repeat;
  background-size: cover;
  width: 395px;
}
.img6 {
  background: url(../img/5project/6.jpg) no-repeat;
  background-size: cover;
  width: 395px;
}
.ourpojects__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 144px;
}
.ourprojects__button {
  height: 70px;
  width: 242px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Exo2';
  font-size: 30px;
  background-color: #6a6b8e;
  cursor: pointer;
  border-radius: 10px;
  border-color: transparent;
}
.ourprojects__button:hover {
  background-color: #f7bb65;
  box-shadow: 2px 2px rgb(229, 146, 28);
  transition: 0.7s;
}

/*======================================================================*/
/*Adaptiv*/
/*======================================================================*/
.adaptiv {
  margin-bottom: 168px;
}
.adaptiv__inner {
  display: flex;
}
.adaptiv--bgc__title {
  width: 440px;
  height: 58px;
  margin-bottom: 20px;
  background: url(../img/6adap/ADAPTATE.png) no-repeat;
  background-size: cover;
}
.adaptiv__title {
  padding: 6px 0 0 40px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  font-family: 'Parangon530C';
  font-size: 36px;
}
.adaptiv__text {
  font-family: Arial;
  font-size: 24px;
  width: 596px;
  padding-left: 58px;
  line-height: 2;
}
.adaptiv__item--img {
  display: block;
  height: 436px;
  width: 660px;
  position: absolute;
  right: 0;
  z-index: 2;
}
.adaptiv__img {
  width: 660px;
  height: 446px;
  background: url(../img/6adap/outline.png) no-repeat;
  background-size: cover;
}

/*======================================================================*/
/*Trade-in*/
/*======================================================================*/
.tradein {
  background: url(../img/7trade-in/close-meeting.jpg) no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 160px;
}
.tradein::before {
  content: '';
  background-color: #000;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.tradein__title {
  font-family: 'UniSansCaps';
  color: #fff;
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 76px;
  position: relative;
  z-index: 1;
}
.tradein__cards {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.tradein__card {
  color: #fff;
}
.tradiin__card--item {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.tradein__card--icon {
  width: 70px;
  height: 50px;
  fill: #00b9e7;
}
.tradein__card--title {
  text-transform: uppercase;
  font-family: 'Parangon530C';
  font-size: 28px;
  letter-spacing: 2px;
}
.tradein__card--text {
  height: 300px;
  width: 400px;
  font-size: 18px;
  font-family: Arial;
}
.tradein__inner {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.tradein__button {
  height: 70px;
  width: 330px;
  text-transform: uppercase;
  font-family: 'Parangon530C';
  padding: 14px;
  color: #fff;
  font-size: 24px;
  border-radius: 20px;
  border-color: transparent;
  background-color: rgb(246, 174, 72);
  cursor: pointer;
  margin-bottom: 48px;
}
.tradein__button:hover {
  background-color: rgb(79, 77, 230);
  box-shadow: 5px 5px rgb(246, 174, 72);
  transition: 0.7s;
}

/*======================================================================*/
/*Care*/
/*======================================================================*/
.care {
  position: relative;
  margin-bottom: 222px;
}
.care__inner {
  display: flex;
}
.care--bgc__title {
  width: 506px;
  height: 58px;
  margin-bottom: 20px;
  background: url(../img/8zab/BE_CAREFUL.png) no-repeat;
  background-size: cover;
}
.care__title {
  padding: 6px 0 0 40px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  font-family: 'Parangon530C';
  font-size: 36px;
}
.care__text {
  font-family: Arial;
  font-size: 24px;
  width: 596px;
  padding-left: 58px;
  line-height: 2;
}
.care__item--img {
  display: block;
  height: 436px;
  width: 660px;
  position: absolute;
  right: 0;
  z-index: 1;
}

/*======================================================================*/
/*Form*/
/*======================================================================*/
.formbgc {
  height: 568px;
  background: url(../img/9form/IMG_3643.jpg) no-repeat;
  background-size: cover;
  position: relative;
}
.formbgc::before {
  content: '';
  background-color: #000;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.form {
  display: flex;
  justify-content: space-evenly;
  padding-top: 130px;
  position: relative;
  z-index: 2;
}
.form__about {
  width: 333px;
  color: #fff;
}
.form__title {
  text-transform: uppercase;
  font-family: 'Parangon530C';
  font-size: 30px;
  margin-bottom: 55px;
}
.form__text {
  font-family: 'Arial';
  font-size: 18px;
}
.form__input {
  width: 620px;
  color: #fff;
}
.input__name {
  width: 310px;
  padding: 12px;
  background: transparent;
  border: 3px #fff solid;
}
.input__name:nth-child(2) {
  border-left: none;
}
.input__email {
  width: 620px;
  padding: 12px;
  background: transparent;
  border: 3px #fff solid;
  border-top: none;
}
.input__textaria {
  width: 620px;
  height: 164px;
  padding: 12px;
  background: transparent;
  border: 3px #fff solid;
  border-top: none;
}
input {
  outline: none;
  color: #fff;
  font-size: 18px;
}
textarea {
  outline: none;
  color: #fff;
  font-size: 18px;
  margin-bottom: 14px;
}
::-webkit-input-placeholder {
  font-family: 'Arial';
  color: #fff;
}
::-moz-placeholder {
  font-family: 'Arial';
  color: #fff;
}
:-moz-placeholder {
  font-family: 'Arial';
  color: #fff;
}
:-ms-input-placeholder {
  font-family: 'Arial';
  color: #fff;
}
.input__text {
  font-family: 'Arial';
  font-size: 14px;
  color: #fff;
  padding-left: 24px;
  padding-right: 60px;
}
.input__button {
  height: 44px;
  width: 144px;
  text-transform: uppercase;
  font-family: 'Parangon530C';
  padding: 12px;
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
  border-color: transparent;
  background-color: rgb(246, 174, 72);
  cursor: pointer;
}
.input__button:hover {
  background-color: rgb(79, 77, 230);
  box-shadow: 5px 5px rgb(246, 174, 72);
  transition: 0.7s;
}
